<h1>Posts#index</h1>
<h2><%= link_to "新しいタグを作る", new_tag_path %></h2>
<h2><%= link_to "新しい投稿", new_post_path %></h2>
<h1>タグ一覧</h1>
<% @posts.each do |p| %>
    <div class="post-content">
        <p><%= p.body %></p>
        <p><%= p.detail %></p>
        <%# p.time=p.time + p.comments.sum(:time) %>
        <%# p.time.save %>
        <p><%= p.time %></p>
        <% p.tags.each do |tag| %>
            <%= tag.tagname %>
        <% end %>
        <%= link_to "詳細へ", post_path(p.id) %>
    </div>
<% end %>

<%= column_chart Comment.pluck(:body, :sum) %>