<h1>Posts#index</h1>
<h2><%= link_to "New Post", new_post_path %></h2>
<% @posts.each do |p| %>
    <div class="post-content">
        <%= p.body %>
        <%= p.time %>
        <%= p.tag %>
        <%= p.detail %>
    </div>
<% end %>
