<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
<p><%= @post.body %></p>
<p><%= @post.detail %></p>
<p><%= @post.time %></p>
<div>
    <% @post.tags.each do |tag| %>
        <%= tag.tagname %>
    <% end %>
</div>
<%= form_with(model: @post, local: true) do |form| %>
    <div class="field">
        <%= form.label :time %>
        <%= @post.time %>
        <%= form.number_field :time %>
    </div>
    <div class="actions">
        <%= form.submit %>
    </div>
<% end %>