<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
<p><%= @post.body %></p>
<p><%= @post.detail %></p>
<div>
    <% @post.tags.each do |tag| %>
        <%= tag.tagname %>
    <% end %>
</div>
<h1>コメント一覧</h1>
<% @comments.each do |c| %>
    <div class="each-comment">
        <%= c.detail %>
        <%= c.time %>
    </div>
<% end %>
<h1>コメント投稿</h1>
<%= form_with(model: [@post, @comment], local: true) do |f| %>
    <%= f.text_area :detail %>
    <%= f.number_field :time %>
    <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
    <% end %>
<% end %>